<div id="wrapper">
  
  <div class="container">

    <% if @blogs.present? %>

      <div id="portfolio-wrapper" class="row isotope", style="margin-top: 50px">

        <% @blogs.each do |blog| %>
                
          <div class="span4 portfolio-item nature people isotope-item">
            <% unless blog.pictures.empty? %>
              <div class="picture"><%= image_tag(blog.pictures.last.image(:medium)) %>
            <% else %>
              <div class="picture"><%= image_tag(Picture.first.image(:medium)) %>
            <% end %>
              <div class="item-description alt">
                <h5><strong><%= truncate(blog.title, length: 55) %></strong></h5>
                <p>
                  <%= truncate(blog.body.html_safe, length: 400) %>
                </p>
                <%= link_to 'Lees meer...', blog_path(blog), class: "post-entry", method: :get %> 
              </div>
              <div class="post-meta">
                <span><i class="mini-ico-calendar"></i><%= blog.created_at.to_s(:short) %></span>
              </div>
            </div>
          </div>

        <% end %>

      </div>

      <%= will_paginate @blogs %>

    <% else %>
      <p>Er zijn nog geen verhalen toegevoegd.</p>
    <% end %>

    <% if admin_signed_in? %>
      <%= button_to 'Voeg nieuw verhaal toe', new_blog_path, id: "comment_button", method: :get %>
    <% end %>

  </div>

</div>