<div id="wrapper">
  
  <div class="container">

    <% if @blogs.present? %>
        
      <div id="filters", style="margin-bottom: 10px; margin-top: 50px">
        <ul class="option-set" data-option-key="filter">
          <li><a href="#filter" data-option-value="*">Alle</a></li>
          <li>/</li>
          <% Kind.all.each do |kind| %>
            <li><a href="#filter" data-option-value=".<%= kind.name %>"><%= kind.name %></a></li>
            <li>/</li>
          <% end %>
        </ul>
      </div>

      <div id="portfolio-wrapper" class="row isotope" style="position: relative; overflow: hidden;">  

        <% @blogs.each do |blog| %>
          <div class="span4 portfolio-item <%= blog.kind_name %> isotope-item">
            <% unless blog.pictures.empty? %>
              <div class="picture"><%= image_tag(blog.pictures.last.image(:medium)) %>
            <% else %>
              <div class="picture"><%= image_tag("empty.jpeg") %>
            <% end %>
              <div class="item-description alt">
                <h5><strong><%= truncate(blog.title, length: 55) %></strong></h5>
                <p>
                  <%= truncate(blog.body.html_safe, length: 400) %>
                </p>
                <%= link_to 'Lees meer...', blog_path(blog), class: "post-entry", method: :get %> 
              </div>
              <div class="post-meta">
                <span><i class="mini-ico-calendar"></i><%= blog.created_at.to_s(:short) %></span>
              </div>
            </div>
          </div>

        <% end %>

      </div>

      <div style="background-color: white"><%= will_paginate @blogs %></div>

    <% else %>
      <p>Er zijn nog geen verhalen toegevoegd.</p>
    <% end %>

    <% if admin_signed_in? %>
      <%= button_to 'Voeg nieuw verhaal toe', new_blog_path, id: "comment_button", method: :get %>
    <% end %>

  </div>

</div>