<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>

<div id="wrapper">
	<div class="container">
	
	<!--start: Row -->
		<div class="row">
			
      <div class="span9">
				<div class="post post-page", style="margin-top: 50px">
          <% unless @blog.pictures.empty? %>
            <div id="slider" class="flexslider">
              <ul class="slides">
                <% @blog.pictures.each do |blog| %>
                  <li>
                    <%= image_tag(blog.image(:medium)) %>    
                  </li>
                <% end %>
              </ul>
            </div>
            <div id="carousel" class="flexslider">
              <ul class="slides">
                <% @blog.pictures.each do |blog| %>
                  <li><%= image_tag(blog.image(:medium)) %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
						
					<div class="post-content">
            <div class="post-title">
              <h2><strong><%= @blog.title %></strong></h2>
            </div>
						<div class="post-description">
							<p><%= raw markdown.render(@blog.body) %></p>
						</div>
						<div class="post-meta">
							<span><i class="mini-ico-calendar"></i><%= @blog.created_at.to_s(:short) %></span>
							<span><div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button"></div></span>
              <% if admin_signed_in? %>
                <span><i class="mini-ico-user"></i><%= link_to 'Pas verhaal aan', edit_blog_path(@blog) %></span>
                <span><i class="mini-ico-user"></i><%= link_to 'Verwijder', @blog,method: :delete, data: { confirm: 'Are you sure?' } %></span>
              <% end %>
						</div>
					</div>
				
				</div>
				<!-- end: Post -->

        <% if admin_signed_in? %>
          <div class="post post-page", style="margin-bottom: 20px">

            <h2><i class="ico-keynote"></i>Voeg Foto toe:</h2><br>
            <%= simple_form_for([@blog, Picture.new(blog_id: @blog.id)]) do |f| %>
              <%= f.error_notification %>
              <%= f.full_error :image_file_size %>
              <%= f.full_error :image_content_type %>

              <% if @blog %>
                <input type="hidden" name="picture[blog_id]" value="<%= @blog.id %>" />
              <% end %>

              <div class="form-inputs">
                <%= f.file_field :image %>
              </div><br>

              <%= f.button :submit, 'Voeg toe', id: "comment_button", data: {disable_with: "Toevoegen..."} %>
            <% end %>
          </div>
        <% end %>
    	</div>

      <div class="span3", style="margin-top: 32px">
        <div class="post">
          <div class="title">
            <h5><strong>Laatste verhalen</strong></h5>
            <ul>
              <% Blog.order('created_at DESC').each do |blog| %>
                <li class="blog_item"><%= link_to truncate(blog.title, length: 30), blog_path(blog) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <% if admin_signed_in? %>
        <% if @blog.pictures.present? %>
          <div class="span3">
            <div class="post">
              <div class="title">
                <h5><strong>Foto's toegevoegd aan dit verhaal:</strong></h5>
                <ul>
                  <table style="width:240px">
                    <tr>
                      <td>ID</td>
                      <td>show</td>
                      <td>destroy</td>
                    </tr>
                    <% @blog.pictures.each do |picture| %>
                      <tr>
                        <td><%= picture.id %></td>
                        <td><%= link_to 'show', picture_path(picture) %></td> 
                        <td><%= link_to 'delete', picture_path(picture),
                      method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </table>
                </ul>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  		
		</div>
    <br>
	</div>
</div>