<div id="page-title">
  <div id="page-title-inner">
    <div class="container">
      <h2><i class="ico-keynote"></i><%= Blog.first.title %></h2>
    </div>
  </div>  
</div>

<div id="wrapper">
  <div class="container">
  <hr>

    <div class="clearfix"></div>

    <!-- start: Row -->
    <div class="row">

      <div class="span9">
        <div class="post post-page", style="margin-bottom: 20px">

          <div class="post-content">
            <div class="post-description">
              <p><%= Blog.first.body %></p>
            </div>
            <div class="post-meta">
              <span><i class="mini-ico-calendar"></i><%= Blog.first.created_at.to_s(:short) %></span>
              <span><div class="fb-share-button" data-href="http://developers.facebook.com/docs/plugins/" data-type="button"></div></span>
            </div>
          </div>

        </div>
      </div>

      <div class="span3", style="margin-top: 18px">
          <div id="slider" class="flexslider">
            <ul class="slides">
              <% Blog.first.pictures.each do |blog| %>
                <li>
                  <%= image_tag(blog.image) %>    
                </li>
              <% end %>
            </ul>
            <p>Eventueel hier foto's van het afscheidsfeest ?</p>
          </div>
      </div>

      <div class="span3">
        <div class="post">
          <div class="title">
            <h5><strong>Laatste verhalen</strong></h5>
            <ul>
              <% Blog.order('created_at DESC').each do |blog| %>
                <li class="blog_item"><%= link_to truncate(blog.title, length: 30), blog_path(blog) %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

    <hr>
	</div>
</div>
