<div id="wrapper">
  
  <div class="container">

    <% if @pictures.present? %>
      
      <div id="portfolio-wrapper" class="row isotope", style="margin-top: 50px">

        <% Picture.all.each do |picture| %>
          <div class="span2 portfolio-item nature people isotope-item">   
            <div class="picture", style="height: 194px"><%= link_to (image_tag picture.image(:medium)), picture.image(:original), rel: "prettyPhoto" %>
            <% if picture.blog.present? %>
              <%= link_to "Laat bijbehorend verhaal zien", blog_path(picture.blog), method: :get %>
            <% end %>
            <% if admin_signed_in? %>
              <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %> 
            <% end %>
            </div>
            
          </div>
        <% end %>

      </div>  

      <%= will_paginate @pictures %>

    <% else %>

      <p>Er zijn nog geen foto's toegevoegd.</p>

    <% end %>

    <% if admin_signed_in? %>
      <div class="post post-page", style="margin-bottom: 20px">        
        <%= simple_form_for(@picture) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :image_file_size %>
          <%= f.full_error :image_content_type %>

          <div class="form-inputs">
            <%= f.file_field :image %>
          </div>

          <%= f.button :submit, id: "comment_button" %>
        <% end %>
      </div>
    <% end %>  

  </div>
  <!--end: Container-->
      
</div>
